@media (max-width: 455px) {
    * {
        font-size: 12px;
    }
    .header {
        margin: 20px 50px;
        text-align: center;
    }
    .header h1 {
        font-size: 40px;
    }
    .description input {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        font-size: 14px;
        display: block;
        color: black;
    }
    #movies {
        padding: 20px;
        margin-bottom: 10px;
    }
    #movie img {
        height: 100%;
        float: none;
    }
    #movies .col-md-3 .well {
        height: 390px;
    }
    #movies .col-md-3 img {
        height: 240px;
        width: 100%;
    }
    .plot p {
        font-size: 20px;
    }
    .btn {
        text-decoration: none;
        width: 100%;
        font-size: 16px;
        display: block;
        border: 1px solid whitesmoke;
        border-radius: 5px;
        background: #000000;
        text-decoration: none;
        color: white;
        padding: 10px;
        text-align: center;
    }
    .video {
        width: 320px;
    }
    .column {
        display: inline-block;
        text-align: center;
        border: solid 2px black;
        border-radius: 10px;
        width: 100%;
        line-height: 12px;
        background: whitesmoke;
    }
    .column img {
        height: 444px;
        width: 100%;
        border-radius: 10px;
    }
    .movie-container {
        margin: 0;
    }
    .thumbnail {
        width: 220px;
    }
}

@media (min-width: 455px) {
    .header {
        margin: 20px 50px;
        text-align: center;
    }
    .header h1 {
        font-size: 60px;
    }
    #movies {
        margin: 20px 50px;
        padding: 20px;
    }
    .details-card img {
        width: 320px;
        height: 100%;
    }
    .btn {
        border: 1px solid whitesmoke;
        border-radius: 5px;
        background: #000000;
        text-decoration: none;
        color: white;
        margin: 15px;
        padding: 5px;
    }
    .btn-group {
        margin: 20px;
        text-align: center;
    }
    #movies img {
        width: 100%;
        border-radius: 10px;
    }
    .description input {
        width: 100%;
        border-radius: 5px;
        font-size: 20px;
        color: black;
    }
    .column {
        display: inline-block;
        margin: 5px;
        text-align: center;
        border: solid 2px black;
        border-radius: 10px;
        width: 320px;
        height: 530px;
        line-height: 12px;
        background: whitesmoke;
    }
    .column img {
        height: 444px;
        width: 300px;
    }
    .searchBtn {
        width: 100px;
        height: 40px;
        font-size: 20px;
    }
    .plot p {
        font-size: 18px;
    }
    .movie-container {
        margin: 20px 50px;
    }
}

@media (min-width: 590px) {
    .description input {
        width: 100%;
        border-radius: 5px;
        font-size: 20px;
        color: black;
    }
    .btn {
        border: 1px solid whitesmoke;
        border-radius: 5px;
        background: #000000;
        text-decoration: none;
        color: white;
        margin: 15px;
        padding: 5px;
    }
    #movies {
        margin: 20px 50px;
        padding: 20px;
    }
    .column {
        display: inline-block;
        margin: 5px;
        text-align: center;
        border: solid 2px black;
        border-radius: 10px;
        width: 320px;
        height: 530px;
        line-height: 12px;
        background: whitesmoke;
    }
    .detail-row-video {
        display: inline-block;
        width: 100%;
    }
    .searchBtn {
        width: 100px;
        height: 40px;
        font-size: 20px;
    }
    .column img {
        height: 444px;
        width: 300px;
    }
}

@media (min-width: 768px) {
    #movies {
        padding: 20px;
    }
    .container {
        height: 100%;
        margin-bottom: 20px;
    }
    #movies img {
        width: 100%;
        border-radius: 10px;
    }
    #movies .col-md-3 .well {
        height: 250px;
        width: 100%;
    }
    #movies .col-md-3 img {
        height: 150px;
    }
    .btn {
        border: 1px solid whitesmoke;
        border-radius: 5px;
        background: #000000;
        text-decoration: none;
        color: white;
        margin: 15px;
        padding: 5px;
    }
    .btn:hover {
        background: rgb(80, 81, 82);
    }
    .description input {
        width: 100%;
        border-radius: 5px;
        font-size: 20px;
        color: black;
    }
    .btn-group {
        margin: 20px;
    }
    .details-card img {
        width: 500px;
        height: 100%;
    }
    .column {
        display: inline-block;
        margin: 5px;
        text-align: center;
        border: solid 2px black;
        border-radius: 10px;
        width: 320px;
        height: 530px;
        line-height: 12px;
        background: whitesmoke;
    }
    .column img {
        height: 444px;
        width: 300px;
    }
    .detail-row-video {
        display: inline-block;
        width: 100%;
    }
    .searchBtn {
        width: 100px;
        height: 40px;
        font-size: 20px;
    }
}

@media (min-width: 875px) {
    #movies {
        margin: 20px 50px;
        padding: 20px;
    }
    .detail-row-video {
        width: 100%;
    }
    .description input {
        width: 750px;
        border-radius: 5px;
        font-size: 20px;
        color: black;
    }
    .searchBtn {
        width: 100px;
        height: 40px;
        font-size: 20px;
    }
    .column img {
        height: 444px;
        width: 300px;
    }
}

* {
    box-sizing: border-box;
    font-family: 'Sawarabi Gothic', sans-serif;
    color: whitesmoke;
}

body {
    background: url(http://getreelcinemas.com/wp-content/uploads/2015/02/Background-Narrow.jpg);
    background-size: cover;
}

.header a {
    text-decoration: none;
    color: black;
}

.btn-search {
    width: 85px;
    height: 40px;
    font-size: 20px;
}

.mainTitle {
    margin-bottom: 25px;
    color: black;
}

.container {
    height: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.column img:hover {
    border: solid 2px red;
}

.column::after {
    content: "";
    clear: both;
    display: table;
}

.column h3 {
    font-size: 15px;
    word-wrap: break-word;
}

.btn:hover {
    background: rgb(80, 81, 82);
    border: solid 2px red;
}


.row {
    padding: 20px;
    margin: auto;
}

.img-list {
    height: 450px;
    width: 100%;
    padding: 20px;
}

ul {
    list-style-type: none;
}

.thumbnail {
    float: left;
}

.thumbnail:hover {
    border: solid 2px red;
}

.detail-row {
    display: inline-block;
    text-align: left;
}

.details-card {
    width: 25%;
    height: auto;
}

.details-card img {
    border: 1px solid;
    border-radius: 10px;
}

.btn-group {
    text-align: center;
}

#ytPlayer {
    width: 700px;
    height: 500px;
}

.list-group {
    text-align: justify;
    word-wrap: normal;
    color: whitesmoke;
}

.plot h2 {
    text-decoration: underline;
}