#movies img {
    width: 100%;
    /* 100% of container*/
}

@media (max-width: 220px) {
    .container {
        height: 100%;
        width: 100%;
    }
    #movie img {
        width: 200px;
        height: 300px;
        float: none;
    }
    #movies .col-md-3 .well {
        height: 390px;
    }
    #movies .col-md-3 img {
        height: 240px;
    }
    .btn {
        border: 1px solid blue;
        border-radius: 5px;
        background: #D6E3E0;
        text-decoration: none;
        color: black;
    }
    .btn:hover {
        background: #6DD8FF;
    }
    .video {
        width: 320px;
    }
}

@media (min-width: 450px) {
    .details-card img {
        width: 220px;
        height: 100%;
    }
}

@media (min-width: 590px) {
    .details-card img {
        width: 320px;
        height: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        height: 100%;
        width: 100%;
        margin-bottom: 20px;
    }
    #movies .col-md-3 .well {
        height: 250px;
        width: 100%;
    }
    #movies .col-md-3 img {
        height: 150px;
    }
    .btn {
        border: 1px solid blue;
        border-radius: 5px;
        background: #000000;
        text-decoration: none;
        color: white;
    }
    .btn:hover {
        background: rgb(80, 81, 82);
    }
    .video {
        width: 100%;
    }
    .searchForm input {
        width: 120px;
    }
    .btn-group {
        margin: 20px;
    }
    .details-card img {
        width: 500px;
        height: 100%;
    }
}

* {
    box-sizing: border-box;
    font-family: 'Sawarabi Gothic', sans-serif;
}

.header {
    margin: 20px 50px;
    padding: 20px;
    text-align: center;
}

.header h1 {
    font-size: 60px;
}

.header input {
    width: 800px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
}

.btn-search {
    width: 85px;
    height: 40px;
    font-size: 20px;
}

.mainTitle {
    margin-bottom: 25px;
}

footer {
    margin: 20px;
    background: gainsboro;
}

.container {
    height: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.column {
    display: inline-block;
    margin: 5px;
    text-align: center;
    border: solid 2px black;
    border-radius: 10px;
    width: 320px;
    height: 530px;
    line-height: 12px;
}

.column img {
    height: 444px;
    width: 300px;
}

.column img:hover {
    border: solid 2px red;
}

.column::after {
    content: "";
    clear: both;
    display: table;
}

.column h3 {
    font-size: 15px;
    word-wrap: break-word;
}

.btn {
    border: 1px solid blue;
    padding: 5px;
    border-radius: 5px;
    margin: 15px;
    background: #000000;
    text-decoration: none;
    color: white;
}

.btn:hover {
    background: rgb(80, 81, 82);
    border: solid 2px red;
}

.gridBtn {
    margin: 15px;
}

#movies {
    margin: 20px 50px;
    padding: 20px;
}

.row {
    padding: 20px;
    margin: auto;
}

.img-list {
    height: 450px;
    width: 100%;
    padding: 20px;
}

ul {
    list-style-type: none;
}

.movie-container {
    margin: 20px 50px;
}

.thumbnail {
    float: left;
}

.detail-row {
    display: inline-block;
    text-align: left;
}

.details-card {
    width: 25%;
    height: auto;
}

/* .details-card img {
    width: 450px;
    height: 100%;
} */

.btn-group {
    margin: 20px;
    text-align: center;
}

#ytPlayer {
    width: 700px;
    height: 500px;
}

.list-group {
    text-align: justify;
    word-wrap: normal;
}